In [29]:
import pandas as pd # 引用套件並縮寫為 pd

groups = ["Movies", "Sports", "Coding", "Fishing", "Dancing", "cooking"]  
num = [46, 8, 12, 12, 6, 58]

df = pd.DataFrame({"groups": groups,  "num": num})

df[:]

    groups  num
0   Movies   46
1   Sports    8
2   Coding   12
3  Fishing   12
4  Dancing    6
5  cooking   58

In [31]:
df[ (df.num > 10) & (df.groups.str.endswith('ing')) ]

    groups  num
2   Coding   12
3  Fishing   12
5  cooking   58